head
  //- fish
body
  h1 main page
  if user
    p #{user}
    ul
      li provider #{user.provider}
      li steamID #{user.steamID}
      li nickname #{user.nickname}
      li 
        img(src=user.avatar)
    a(href='./logout') logout
  else
    a(href='./login') login
