head
  script(type="application/javascript", src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(type="application/javascript", src="/socket.io/socket.io.js")
  script(type="application/javascript", src="/js/room.js")
  link(rel="stylesheet", type="text/css", href="/css/room.css")
body
  if room.private == "true"
    h1 welcome to #{room.name} (private)!
  else
    h1 welcome to #{room.name}
  if user
    ul
      li provider #{user.provider}
      li steamID #{user.steamID}
      li nickname #{user.nickname}
      li 
        img(src=user.avatar)
  .serverMessages
